.foot{
    position:fixed;
    bottom:0;
    background-color:#2e2c2c;
    color:white;
    width:100%;
    height:2.5em;
    left:0;
    text-align:center;
    vertical-align:middle;
}

.titulo{
    margin-top:65px;
}

.elementos{
    color:white;
}

#contenido
{
    margin-top: 70px;
}
 /*
.table tr:first-child
{
    background: rgba(200, 200, 200, 0.9) !important;
}
*/

.logo
{
    margin-top:-11px;
    max-width:90px;
    max-height:42px;
    width:auto;
    height:auto;
}
    